<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.charlesxu.LabManager.mapper.StudentMapper" >
  <resultMap id="BaseResultMap" type="cn.charlesxu.LabManager.entity.Student" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="student_id" property="studentId" jdbcType="VARCHAR" />
    <result column="student_name" property="studentName" jdbcType="VARCHAR" />
    <result column="class_no" property="classNo" jdbcType="VARCHAR" />
    <result column="major_in" property="majorIn" jdbcType="VARCHAR" />
    <result column="college" property="college" jdbcType="VARCHAR" />
    <result column="grade_no" property="gradeNo" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />
    <result column="reg_ip" property="regIp" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, student_id, student_name, class_no, major_in,college, grade_no, email, phone, password,
    status, reg_time, reg_ip
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_student
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.charlesxu.LabManager.entity.Student" >
    insert into t_student (id, student_id, student_name, 
      class_no, major_in,college, grade_no,
      email, phone, password, 
      status, reg_time, reg_ip
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=VARCHAR}, #{studentName,jdbcType=VARCHAR}, 
      #{classNo,jdbcType=VARCHAR},  #{majorIn,jdbcType=VARCHAR},#{college,jdbcType=VARCHAR}, #{gradeNo,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{status,jdbcType=INTEGER}, #{regTime,jdbcType=TIMESTAMP}, #{regIp,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.charlesxu.LabManager.entity.Student" >
    insert into t_student
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="studentId != null" >
        student_id,
      </if>
      <if test="studentName != null" >
        student_name,
      </if>
      <if test="classNo != null" >
        class_no,
      </if>
      <if test="majorIn != null" >
        major_in,
      </if>
      <if test="college != null" >
        college,
      </if>
      <if test="gradeNo != null" >
        grade_no,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="phone != null" >
        phone,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="regTime != null" >
        reg_time,
      </if>
      <if test="regIp != null" >
        reg_ip,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null" >
        #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null" >
        #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="majorIn != null" >
        #{majorIn,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        #{college,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="regTime != null" >
        #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regIp != null" >
        #{regIp,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.charlesxu.LabManager.entity.Student" >
    update t_student
    <set >
      <if test="studentId != null" >
        student_id = #{studentId,jdbcType=VARCHAR},
      </if>
      <if test="studentName != null" >
        student_name = #{studentName,jdbcType=VARCHAR},
      </if>
      <if test="classNo != null" >
        class_no = #{classNo,jdbcType=VARCHAR},
      </if>
      <if test="majorIn != null" >
        major_in = #{majorIn,jdbcType=VARCHAR},
      </if>
      <if test="college != null" >
        college = #{college,jdbcType=VARCHAR},
      </if>
      <if test="gradeNo != null" >
        grade_no = #{gradeNo,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="regTime != null" >
        reg_time = #{regTime,jdbcType=TIMESTAMP},
      </if>
      <if test="regIp != null" >
        reg_ip = #{regIp,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.charlesxu.LabManager.entity.Student" >
    update t_student
    set student_id = #{studentId,jdbcType=VARCHAR},
      student_name = #{studentName,jdbcType=VARCHAR},
      class_no = #{classNo,jdbcType=VARCHAR},
      major_in = #{majorIn,jdbcType=VARCHAR},
      college = #{college,jdbcType=VARCHAR},
      grade_no = #{gradeNo,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      reg_time = #{regTime,jdbcType=TIMESTAMP},
      reg_ip = #{regIp,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByRequest" resultMap="BaseResultMap" parameterType="cn.charlesxu.LabManager.entity.Student">
    select
    <include refid="Base_Column_List"/>
    from t_student
    <where>
      <if test="id != null">
        id = #{id,jdbcType=INTEGER}
      </if>
      <if test="studentId != null">
        AND student_id = #{studentId,jdbcType=VARCHAR}
      </if>
      <if test="studentName != null">
        AND student_name = #{studentName,jdbcType=VARCHAR}
      </if>
      <if test="classNo != null">
        AND class_no = #{classNo,jdbcType=VARCHAR}
      </if>
      <if test="majorIn != null">
        AND major_in = #{majorIn,jdbcType=VARCHAR}
      </if>
      <if test="college != null">
        AND college = #{college,jdbcType=VARCHAR}
      </if>
      <if test="gradeNo != null">
        AND grade_no = #{gradeNo,jdbcType=VARCHAR}
      </if>
      <if test="email != null">
        AND email = #{email,jdbcType=VARCHAR}
      </if>
      <if test="phone != null">
        AND phone = #{phone,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
        AND password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="status != null">
        AND status = #{status,jdbcType=INTEGER}
      </if>
      <if test="regTime != null">
        AND reg_time = #{regTime,jdbcType=TIMESTAMP}
      </if>
      <if test="regIp != null">
        AND reg_ip = #{regIp,jdbcType=VARCHAR}
      </if>
    </where>
  </select>


</mapper>